#searchByName {
    margin-top: 12%;
}

#_searchEmployee {
    margin-top: 12%;
}

#_searchAdm {
    margin-top: 4.5%;
}

.form-check-input {
    margin: 0px;
    margin-top: -2px;
    margin-left: 10px;
}