<div class="container-fluid">
    <app-page-title title="Utilaj" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div *ngIf="!list" id="loadingmodule" style="text-align: center;"><img src="../../../../assets/images/loading2.gif" style="width: 50px;"></div>

                    <div *ngIf="list" class="ContentSideSections ewogrid" style="padding:1px 10px;">
                        <div class="ui-widget-header ui-helper-clearfix ewoheader">
                            <actions (add)="add()" (edit)="edit()" (delete)="delete()" (export)="dt.exportCSV()"></actions>
                        </div>

                        <p-table #dt [value]="list" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedItems">

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th [pSortableColumn]="'name'">Nume
                                        <p-sortIcon [field]="'name'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'category'">Categorie
                                        <p-sortIcon [field]="'category'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'producer'">Producator
                                        <p-sortIcon [field]="'producer'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'model'">Model
                                        <p-sortIcon [field]="'model'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'regName'">Numele de inregistrare
                                        <p-sortIcon [field]="'regName'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'year'">Anul
                                        <p-sortIcon [field]="'year'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'obs'">Descriere
                                        <p-sortIcon [field]="'obs'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                </tr>
                                <tr class="ewoheaderfilter">
                                    <th>
                                        <input pInputText type="name" (input)="dt.filter($event.target.value, 'name', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="category" (input)="dt.filter($event.target.value, 'category', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="producer" (input)="dt.filter($event.target.value, 'producer', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="model" (input)="dt.filter($event.target.value, 'model', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="regName" (input)="dt.filter($event.target.value, 'regName', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="year" (input)="dt.filter($event.target.value, 'year', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="obs" (input)="dt.filter($event.target.value, 'obs', 'contains')">
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [pSelectableRow]="rowData" (dblclick)="onRowDblClick($event, rowData)">
                                    <td>{{rowData['name']}}</td>
                                    <td>{{rowData['category']}}</td>
                                    <td>{{rowData['producer']}}</td>
                                    <td>{{rowData['model']}}</td>
                                    <td>{{rowData['regName']}}</td>
                                    <td>{{rowData['year']}}</td>
                                    <td>{{rowData['obs']}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <p-dialog header="Utilaj" [(visible)]="displayDialog1" [responsive]="true" showEffect="fade" [modal]="true" *ngIf="item" [width]="500">

        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad ewoformcontent">

            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="item">
                <div class="ui-grid-row">
                    <form *ngIf="validationform" [formGroup]="validationform">

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="id" formControlName="id">
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">

                                    <div class="radio-group-vertical col-lg-8">
                                        <div class="form-group">
                                            <label for="name">Nume</label>
                                            <input type="text" class="form-control" id="name" placeholder="" formControlName="name" [ngClass]="{'is-invalid': submitted && form.name.errors}">
                                            <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                                                <span *ngIf="form.name.errors.required">Camp obligatoriu</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="year">Anul</label>
                                            <select class="form-control" name="year" id="year" formControlName="year" [ngClass]="{'is-invalid': submitted && form.year.errors}">
                                                    <option value="">alege anul</option>
                                                    <option *ngFor="let year of Year" [ngValue]="year">{{year}}</option>
                                                </select>
                                            <div *ngIf="submitted && form.year.errors" class="invalid-feedback">
                                                <span *ngIf="form.year.errors.required">Camp obligatoriu</span>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-lg-6">


                                        <div class="form-group">
                                            <label for="category">Categorie</label>
                                            <select class="form-control" name="category" id="category" formControlName="category" [ngClass]="{'is-invalid': submitted && form.category.errors}">
                                                <option value="">alege categoria</option>
                                                <option *ngFor="let category of Category" [ngValue]="category">{{category}}</option>
                                            </select>
                                            <div *ngIf="submitted && form.category.errors" class="invalid-feedback">
                                                <span *ngIf="form.category.errors.required">Camp obligatoriu</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="producer">Producator</label>
                                            <input type="text" class="form-control" id="producer" placeholder="" formControlName="producer" [ngClass]="{'is-invalid': submitted && form.producer.errors}">
                                            <div *ngIf="submitted && form.producer.errors" class="invalid-feedback">
                                                <span *ngIf="form.producer.errors.required">Camp obligatoriu</span>
                                            </div>
                                        </div>

                                    </div>



                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            <label for="model">Model</label>
                                            <select class="form-control" name="model" id="model" formControlName="model" [ngClass]="{'is-invalid': submitted && form.model.errors}">
                                                <option value="">alege modelul</option>
                                                <option *ngFor="let model of Model" [ngValue]="model">{{model}}</option>
                                            </select>
                                            <div *ngIf="submitted && form.model.errors" class="invalid-feedback">
                                                <span *ngIf="form.model.errors.required">Camp obligatoriu</span>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <label for="regName">Numele de inregistrare</label>
                                            <input type="text" class="form-control" id="regName" placeholder="" formControlName="regName" [ngClass]="{'is-invalid': submitted && form.regName.errors}">
                                            <div *ngIf="submitted && form.regName.errors" class="invalid-feedback">
                                                <span *ngIf="form.regName.errors.required">Camp obligatoriu</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="radio-group-vertical col-lg-12">
                                        <div class="form-group">
                                            <label for="obs">Descriere</label>
                                            <textarea type="textarea" class="form-control" id="obs" placeholder="" formControlName="obs" [ngClass]="{ 'is-invalid': submitted && form.obs.errors}" rows="5"></textarea>
                                            <div *ngIf="submitted && form.obs.errors" class="invalid-feedback">
                                                <span *ngIf="form.obs.errors.required">Camp obligatoriu</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="btn-default" pButton icon="fa fa-close" (click)="displayDialog1 = false;" label="Renunta"></button>
                <button pButton class="btn-info ewobtnsave" icon="fa fa-check" (click)="onSubmit(validationform.value)" label="Salveaza"></button>
            </div>
        </footer>
    </p-dialog>