.main {
    max-width: 300px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 7px;
    box-shadow: 0 1px 4px #d3d3d3;
    padding-top: 50px;
    margin-top: 50px;
}