<div class="container-fluid">
    <app-page-title title="Lot" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div *ngIf="!list" id="loadingmodule" style="text-align: center;"><img src="../../../../assets/images/loading2.gif" style="width: 50px;"></div>

                    <div *ngIf="list" class="ContentSideSections ewogrid" style="padding:1px 10px;">
                        <div class="ui-widget-header ui-helper-clearfix ewoheader">
                            <actions (add)="add()" (edit)="edit()" (delete)="delete()" (export)="dt.exportCSV()"></actions>
                        </div>

                        <p-table #dt [value]="list" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedItems">

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th [pSortableColumn]="'name'">Nume
                                        <p-sortIcon [field]="'name'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'location'">Locatie
                                        <p-sortIcon [field]="'location'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'area'">Suprafata
                                        <p-sortIcon [field]="'area'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'cadastreTerrain'">Terenul cadastral
                                        <p-sortIcon [field]="'cadastreTerrain'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'agricolId'">ID-ul agricol
                                        <p-sortIcon [field]="'agricolId'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'soilType'">Tipul solului
                                        <p-sortIcon [field]="'soilType'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'ownerType'">Tipul propietarului
                                        <p-sortIcon [field]="'ownerType'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                </tr>
                                <tr class="ewoheaderfilter">
                                    <th>
                                        <input pInputText type="name" (input)="dt.filter($event.target.value, 'name', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="location" (input)="dt.filter($event.target.value, 'location', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="area" (input)="dt.filter($event.target.value, 'area', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="cadastreTerrain" (input)="dt.filter($event.target.value, 'cadastreTerrain', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="agricolId" (input)="dt.filter($event.target.value, 'agricolId', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="soilType" (input)="dt.filter($event.target.value, 'soilType', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="ownerType" (input)="dt.filter($event.target.value, 'ownerType', 'contains')">
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [pSelectableRow]="rowData" (dblclick)="onRowDblClick($event, rowData)">
                                    <td>{{rowData['name']}}</td>
                                    <td>{{rowData['location']}}</td>
                                    <td>{{rowData['area']}}</td>
                                    <td>{{rowData['cadastreTerrain']}}</td>
                                    <td>{{rowData['agricolId']}}</td>
                                    <td>{{rowData['soilType']}}</td>
                                    <td>{{rowData['ownerType']}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <p-dialog header="Lot" [(visible)]="displayDialog1" [responsive]="true" showEffect="fade" [modal]="true" *ngIf="item" [width]="500">

        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad ewoformcontent">

            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="item">
                <div class="ui-grid-row">
                    <form *ngIf="validationform" [formGroup]="validationform">

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="id" formControlName="id">
                        </div>
                        <div class="row">
                            <div class="col-lg-12">



                                <div class="row">

                                    <div class="col-lg-12">

                                        <div class="form-group">
                                            <label for="name">Nume</label>
                                            <input type="text" class="form-control" id="name" placeholder="" formControlName="name" [ngClass]="{'is-invalid': submitted && form.name.errors}">
                                            <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                                                <span *ngIf="form.name.errors.required">Camp obligatoriu</span>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- <div class="row"></div> -->
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="location">Locatie</label>
                                            <input type="text" class="form-control" id="location" placeholder="" formControlName="location" [ngClass]="{'is-invalid': submitted && form.location.errors}">
                                            <div *ngIf="submitted && form.location.errors" class="invalid-feedback">
                                                <span *ngIf="form.location.errors.required">Camp obligatoriu</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="area">Suprafata</label>
                                            <input type="text" class="form-control" id="area" placeholder="in metrii patrati" formControlName="area" [ngClass]="{'is-invalid': submitted && form.area.errors}">
                                            <div *ngIf="submitted && form.area.errors" class="invalid-feedback">
                                                <span *ngIf="form.area.errors.required">Camp obligatoriu</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="cadastreTerrain">Terenul cadastral</label>
                                            <input type="text" class="form-control" id="cadastreTerrain" placeholder="" formControlName="cadastreTerrain" [ngClass]="{'is-invalid': submitted && form.cadastreTerrain.errors}">
                                            <div *ngIf="submitted && form.cadastreTerrain.errors" class="invalid-feedback">
                                                <span *ngIf="form.cadastreTerrain.errors.required">Camp obligatoriu</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="agricolId">ID-ul agricol</label>
                                            <input type="text" class="form-control" id="agricolId" placeholder="" formControlName="agricolId" [ngClass]="{'is-invalid': submitted && form.agricolId.errors}">
                                            <div *ngIf="submitted && form.agricolId.errors" class="invalid-feedback">
                                                <span *ngIf="form.agricolId.errors.required">Camp obligatoriu</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="soilType">Tipul solului</label>
                                            <select class="form-control" aria-placeholder="anotimpuri" name="soilType" id="soilType" formControlName="soilType" [ngClass]="{'is-invalid': submitted && form.soilType.errors}">
                                      <option value="">Alege tipul de sol</option>
                                      <option *ngFor="let soilType of SoilType" [ngValue]="soilType">{{soilType}}</option>
                                  </select>
                                            <div *ngIf="submitted && form.soilType.errors" class="invalid-feedback">
                                                <span *ngIf="form.soilType.errors.required">Camp obligatoriu</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="ownerType">Tipul propietarului</label>
                                            <select class="form-control" aria-placeholder="anotimpuri" name="ownerType" id="ownerType" formControlName="ownerType" [ngClass]="{'is-invalid': submitted && form.ownerType.errors}">
                                      <option value="">Alege tipul propietarului</option>
                                      <option *ngFor="let ownerType of OwnerType" [ngValue]="ownerType">{{ownerType}}</option>
                                  </select>
                                            <div *ngIf="submitted && form.ownerType.errors" class="invalid-feedback">
                                                <span *ngIf="form.ownerType.errors.required">Camp obligatoriu</span>
                                            </div>
                                        </div>
                                    </div>




                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="btn-default" pButton icon="fa fa-close" (click)="displayDialog1 = false;" label="Renunta"></button>
                <button pButton class="btn-info ewobtnsave" icon="fa fa-check" (click)="onSubmit(validationform.value)" label="Salveaza"></button>
            </div>
        </footer>
    </p-dialog>