mat-card.mat-card {
  padding: 10px;
}


mat-slider.year {
  height: 40px;  
  width: 70%;
  margin-top: -10px;
  padding-top: 0;
}
div.mat-slider-ticks,div.mat-slider-thumb {
  margin-top: 0;
}
#nd-mat-card {
  margin-top: -15px;
  padding: 0;
}

mat-slider {
  height: 315px;
  margin-top: 20px;
}
#nd-mat-card {
  height: 80px;
}
.when-value {
  height:295px;
}
.when-no-value {
  // height: 360px;
  margin-top: 20px;
}
