<div class="container-fluid">
    <p-messages [(value)]="msgs"></p-messages>
    <app-page-title title="List" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <form class="form-inline">
                                <div class="form-group mb-2">
                                    <label class="sr-only">Cauta</label>
                                    <input class="form-control" name="search" placeholder="Cauta..." [(ngModel)]="term">
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-8">
                            <div class="text-sm-right">
                                <button type="button" class="btn btn-success mb-2 mr-1"><i class="mdi mdi-settings"></i></button>
                                <a class="btn btn-danger mb-2" (click)="openToAddtModal(content)"><i
                  class="mdi mdi-plus-circle mr-1"></i> Adauga </a>
                            </div>
                        </div>
                        <!-- end col-->
                    </div>

                    <div class="table-responsive">
                        <table class="table table-centered table-hover mb-0">
                            <thead>
                                <tr>
                                    <th style="width: 150px;">Data oferta</th>
                                    <th>Furnizor</th>
                                    <th>Contact furnizor</th>
                                    <th>Nr.</th>
                                    <th>Ref. int.</th>
                                    <th>%Discount</th>
                                    <th>Motiv discount</th>
                                    <th>Valuta</th>
                                    <th>Contract</th>
                                    <th>Status</th>
                                    <th>Obs. Status</th>
                                    <th>Data lansare</th>
                                    <th>Data confirmare</th>
                                    <th>Data estimata livrare</th>
                                    <th>Continut comanda</th>
                                    <th>Intarziere comanda</th>
                                    <th>Observatii</th>
                                    <th>Import</th>
                                    <th style="width: 82px;">Actiune</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of paginatedModel">
                                    <td>{{item.date | date: 'dd/MM/yyyy'}}</td>
                                    <td class="table-user">
                                        {{item.supplierid}}
                                    </td>
                                    <td>
                                        {{item.suppliercontactid}}
                                    </td>
                                    <td>
                                        {{item.number}}
                                    </td>
                                    <td>
                                        {{item.internalreference}}
                                    </td>
                                    <td>
                                        {{item.discountpercent}}
                                    </td>
                                    <td>
                                        {{item.discountreason}}
                                    </td>
                                    <td>
                                        {{item.valutaid}}
                                    </td>
                                    <td>
                                        {{item.contractid}}
                                    </td>
                                    <td>
                                        {{item.statusid}}
                                    </td>
                                    <td>
                                        {{item.statusobs}}
                                    </td>
                                    <td>
                                        {{item.data_lansare | date: 'dd/MM/yyyy'}}
                                    </td>
                                    <td>
                                        {{item.data_confirmare | date: 'dd/MM/yyyy'}}
                                    </td>
                                    <td>
                                        {{item.data_estimata_livrare | date: 'dd/MM/yyyy'}}
                                    </td>
                                    <td>
                                        {{item.continut_comanda}}
                                    </td>
                                    <td>
                                        {{item.intarziere_comanda}}
                                    </td>
                                    <td>
                                        {{item.notes}}
                                    </td>
                                    <td>
                                        {{item.import}}
                                    </td>
                                    <td>
                                        <a href="javascript:void(0);" (click)="openToEditModal(content, item)" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                        <a href="javascript:void(0);" (click)="deleteItem(item.id)" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination pagination-rounded justify-content-end my-2">
                        <ngb-pagination (pageChange)="onPageChange($event)" [pageSize]="pageSize" [(page)]="page" [collectionSize]="totalSize"></ngb-pagination>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- modal form  -->
<ng-template #content role="document" let-modal="close">
    <div class="modal-header bg-dark">
        <h4 class="modal-title text-white">Adauga/Modifica</h4>
        <button type="button" class="close text-white" aria-label="Close" (click)="onAdd()">
    <span aria-hidden="true" (click)="closeModal(validationform, modal)">&times;</span>
  </button>
    </div>


    <div class="modal-body p-3">
        <div class="text-left">
            <form (ngSubmit)="createItem(validationform.value)" >

                <div class="form-group">
                    <input type="hidden" class="form-control" id="id" formControlName="id">
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <tabset #tabset>
                            <tab heading="T1">
                                <div class="form-group row">


                                    <div class="form-group col-lg-4">
                                        <label for="date">Data</label>
                                        <input type="date" class="form-control" id="date" placeholder="" formControlName="date" [ngClass]="{ 'is-invalid': submitted && form.date.errors}">
                                        <div *ngIf="submitted && form.date.errors" class="invalid-feedback">
                                            <span *ngIf="form.date.errors.required">This value is required.</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4">
                                        <label for="supplierid">Furnizor</label>
                                        <select class="form-control" name="supplierid" id="supplierid" formControlName="supplierid" [ngClass]="{ 'is-invalid': submitted && form.supplierid.errors}">
                                                <option value="">Alege status</option>
                                                <option *ngFor="let supplierid of Supplierid" [ngValue]="supplierid">{{supplierid}}</option>
                                            </select>
                                        <div *ngIf="submitted && form.supplierid.errors" class="invalid-feedback">
                                            <span *ngIf="form.supplierid.errors.required">This value is required.</span>
                                        </div>
                                    </div>


                                    <div class="form-group col-lg-4">
                                        <label for="suppliercontactid">Contact furnizor</label>
                                        <select class="form-control" name="suppliercontactid" id="suppliercontactid" formControlName="suppliercontactid" [ngClass]="{ 'is-invalid': submitted && for.suppliercontactid.errors}">
                            <option value="">Alege id furnizor</option>
                            <option *ngFor="let suppliercontactid of Suppliercontactid" [ngValue]="suppliercontactid">{{suppliercontactid}}</option>
                        </select>
                                        <div *ngIf="submitted && form.suppliercontactid.errors" class="invalid-feedback">
                                            <span *ngIf=" form.suppliercontactid.errors.required">This value is required.</span>
                                        </div>
                                    </div>



                                </div>

                                <div class="form-group row">
                                    <div class="form-group col-lg-4">
                                        <label for="number">Numar</label>
                                        <input type="text" class="form-control" id="number" placeholder="" formControlName="number" [ngClass]="{ 'is-invalid': submitted && form.number.errors}">
                                        <div *ngIf="submitted && form.number.errors" class="invalid-feedback">
                                            <span *ngIf="form.number.errors.required">This value is required.</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4">
                                        <label for="internalreference">Ref. int.</label>
                                        <input type="text" class="form-control" id="internalreference" placeholder="" formControlName="internalreference" [ngClass]="{ 'is-invalid': submitted && form.internalreference.errors}">
                                        <div *ngIf="submitted && form.internalreference.errors" class="invalid-feedback">
                                            <span *ngIf="form.internalreference.errors.required">This value is required.</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4">
                                        <label for="discountpercent">%Discount</label>
                                        <input type="text" class="form-control" id="discountpercent" placeholder="" formControlName="discountpercent" [ngClass]="{ 'is-invalid': submitted && form.idiscountpercent.errors}">
                                        <div *ngIf="submitted && form.discountpercent.errors" class="invalid-feedback">
                                            <span *ngIf="form.discountpercent.errors.required">This value is required.</span>
                                        </div>
                                    </div>
                                </div>

                            </tab>

                            <tab heading="T2">
                                <div class="form-group row">

                                    <div class="form-group col-lg-4">
                                        <label for="discountreason">Motiv discount</label>
                                        <input type="text" class="form-control" id="discountreason" placeholder="" formControlName="discountreason" [ngClass]="{ 'is-invalid': submitted && form.discountreason.errors}" rows="9">
                                        <div *ngIf="submitted && form.discountreason.errors" class="invalid-feedback">
                                            <span *ngIf="form.discountreason.errors.required">This value is required.</span>
                                        </div>
                                    </div>

                                    <div class="form-group cl-lg-4">
                                        <label for="valutaid">Valuta</label>
                                        <select class="form-control" name="valutaid" id="valutaid" formControlName="valutaid" [ngClass]="{ 'is-invalid': submitted && form.valutaid.errors}">
                                            <option value="">Alege valuta</option>
                                            <option *ngFor="let valutaid of Valutaid" [ngValue]="valutaid">{{valutaid}}</option>
                                        </select>
                                        <div *ngIf="submitted && form.valutaid.errors" class="invalid-feedback">
                                            <span *ngIf="form.valutaid.errors.required">This value is required.</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4">
                                        <label for="contractid">Contract</label>
                                        <select class="form-control" name="contractid" id="contractid" formControlName="contractid" [ngClass]="{ 'is-invalid': submitted && form.contractid.errors}">
                                            <option value="">Alege id furnizor</option>
                                            <option *ngFor="let contractid of Contractid" [ngValue]="contractid">{{contractid}}</option>
                                        </select>
                                        <div *ngIf="submitted && form.contractid.errors" class="invalid-feedback">
                                            <span *ngIf="form.contractid.errors.required">This value is required.</span>
                                        </div>
                                    </div>

                                </div>



                                <div class="form-group row">
                                    <div class="form-group col-lg-4">
                                        <label for="statusid">Status</label>
                                        <select class="form-control" name="statusid" id="statusid" formControlName="statusid" [ngClass]="{ 'is-invalid': submitted && form.statusid.errors}">
                                            <option value="">Alege status</option>
                                            <option *ngFor="let statusid of Statusid" [ngValue]="statusid">{{statusid}}</option>
                                        </select>
                                        <div *ngIf="submitted && form.statusid.errors" class="invalid-feedback">
                                            <span *ngIf="form.statusid.errors.required">This value is required.</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-8">
                                        <label for="statusobs">Status obs.</label>
                                        <textarea type="textarea" class="form-control" id="statusobs" placeholder="" formControlName="statusobs" [ngClass]="{ 'is-invalid': submitted && form.statusobs.errors}" rows="5"></textarea>
                                        <div *ngIf="submitted && form.statusobs.errors" class="invalid-feedback">
                                            <span *ngIf="form.statusobs.errors.required">This value is required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <div class="form-check" style="margin-bottom: 50%;">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [checked]="checkedImport()" (change)="handleImport($event)">
                                            <label class="form-check-label" for="inlineCheckbox1">Import</label>
                                        </div>
                                    </div>
                                </div>




                            </tab>

                            <tab heading="T3">
                                <div class="form-group row">
                                    <div class="form-group col-lg-4">
                                        <label for="data_lansare">Data lansare</label>
                                        <input type="date" class="form-control" id="data_lansare" placeholder="" formControlName="data_lansare" [ngClass]="{ 'is-invalid': submitted && form.data_lansare.errors}">
                                        <div *ngIf="submitted && form.data_lansare.errors" class="invalid-feedback">
                                            <span *ngIf="form.data_lansare.errors.required">This value is required.</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4">
                                        <label for="data_confirmare">Data confirmare</label>
                                        <input type="date" class="form-control" id="data_confirmare" placeholder="" formControlName="data_confirmare" [ngClass]="{ 'is-invalid': submitted && form.data_confirmare.errors}">
                                        <div *ngIf="submitted && form.data_confirmare.errors" class="invalid-feedback">
                                            <span *ngIf="form.data_confirmare.errors.required">This value is required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label for="data_estimata_livrare">Data estimata livrare</label>
                                        <input type="date" class="form-control" id="data_estimata_livrare" placeholder="" formControlName="data_estimata_livrare" [ngClass]="{ 'is-invalid': submitted && form.data_estimata_livrare.errors}">
                                        <div *ngIf="submitted && form.data_estimata_livrare.errors" class="invalid-feedback">
                                            <span *ngIf="form.data_estimata_livrare.errors.required">This value is required.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="form-group col-lg-6">
                                        <label for="continut_comanda">Continut comanda</label>
                                        <textarea type="textarea" class="form-control" id="continut_comanda" placeholder="" formControlName="continut_comanda" [ngClass]="{ 'is-invalid': submitted && form.continut_comanda.errors}" rows="9"></textarea>
                                        <div *ngIf="submitted && form.continut_comanda.errors" class="invalid-feedback">
                                            <span *ngIf="form.continut_comanda.errors.required">This value is required.</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-6">
                                        <label for="intarziere_comanda">Intarziere comanda</label>
                                        <textarea type="textarea" class="form-control" id="intarziere_comanda" placeholder="" formControlName="intarziere_comanda" [ngClass]="{ 'is-invalid': submitted && form.intarziere_comanda.errors}" rows="9"></textarea>
                                        <div *ngIf="submitted && form.intarziere_comanda.errors" class="invalid-feedback">
                                            <span *ngIf="form.intarziere_comanda.errors.required">This value is required.</span>
                                        </div>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="Observatii">


                                <div class="form-group col-lg-12">
                                    <label for="notes"></label>
                                    <textarea type="textarea" class="form-control" id="notes" placeholder="" formControlName="notes" [ngClass]="{ 'is-invalid': submitted && form.continut_comanda.errors}" rows="9"></textarea>
                                    <div *ngIf="submitted && form.notes.errors" class="invalid-feedback">
                                        <span *ngIf="form.notes.errors.required">This value is required.</span>
                                    </div>
                                </div>


                            </tab>

                        </tabset>
                    </div>

                </div>
            </form>

            <button type="button" class="btn btn-primary pull-left" (click)="addNewArticleRow()">Adauga rand</button>
            <br><br>

            <p-table [value]="purchaseorderitems" dataKey="id" editMode="row">

                <ng-template pTemplate="header">
                    <tr>
                        <th>Articol</th>
                        <th>Cod furnizor</th>
                        <th>UM</th>
                        <th>Cant</th>
                        <th>Pret</th>
                        <th>Termen livrare</th>
                        <th>Descriere</th>
                        <th style="width:8em">Actiune</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="rowData">

                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData.artprodid" required>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData.artprodid}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData.suppliercode" required>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData.suppliercode}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData.umid" required>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData.umid}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData.quantity" placeholder="Introdu numar!" required>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData.quantity}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData.price" placeholder="Introdu numar!" required>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData.price}}
                                </ng-template>
                            </p-cellEditor>
                        </td>

                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="date" [(ngModel)]="rowData.delivery_term" required>
                                    <!-- <input type="date" class="form-control" id="data_confirmare"  [(ngModel)]="rowData.delivery_term" formControlName="delivery_term" [ngClass]="{ 'is-invalid': submitted && form.delivery_term.errors}"> -->
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData.delivery_term}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData.description" required>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData.description}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="text-align:center">
                            <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
                            <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-minus" class="ui-button-warning" style="margin-right: .5em" (click)="onRowDelete(rowData)"></button>

                            <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
                            <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <br>
            <div class="text-right">
                <button type="button" class="btn btn-success" (click)="onSubmit(validationform.value, validationform, modal)">Salveaza</button>
                <button type="button" class="btn btn-danger ml-1" (click)="closeModal(validationform, modal)">Anuleaza</button>
            </div>

        </div>
    </div>

</ng-template>