.dot {
    color: #ffffff;
}

// #excludedDeclaration394 {
// }
.ewoformcontent form {
    margin-left: 10px !important;
    margin-right: 10px !important;
    width: 100%;
    overflow: hidden;
}

.row {
    margin-left: -1px !important;
    margin-right: -1px !important;
}

#r0 {
    margin-top: 6%;
    padding-left: 11%;
}

#r1 {
    margin-top: 13%;
}

#r2 {
    margin-top: 20.5%;
}

#r3 {
    padding-left: 3%;
}