<div class="container-fluid">
    <app-page-title title="Planificare furajare, vite de carne" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div *ngIf="!list" id="loadingmodule" style="text-align: center;"><img src="../../../../assets/images/loading2.gif" style="width: 50px;"></div>

                    <div *ngIf="list" class="ContentSideSections ewogrid" style="padding:1px 10px;">
                        <div class="ui-widget-header ui-helper-clearfix ewoheader">
                            <actions (add)="add()" (edit)="edit()" (delete)="delete()" (export)="dt.exportCSV()"></actions>
                        </div>

                        <p-table #dt [value]="list" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedItems">

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th [pSortableColumn]="'supply'">Aprovizionare
                                        <p-sortIcon [field]="'supply'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'minus'">Minus
                                        <p-sortIcon [field]="'minus'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'demand'">Cerere
                                        <p-sortIcon [field]="'demand'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'balance'">Balanta
                                        <p-sortIcon [field]="'balance'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'plusMinus'">+ sau -
                                        <p-sortIcon [field]="'plusMinus'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'date'">La data
                                        <p-sortIcon [field]="'date'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                </tr>
                                <tr class="ewoheaderfilter">
                                    <th>
                                        <input pInputText type="supply" (input)="dt.filter($event.target.value, 'supply', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="minus" (input)="dt.filter($event.target.value, 'minus', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="demand" (input)="dt.filter($event.target.value, 'demand', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="balance" (input)="dt.filter($event.target.value, 'balance', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="plusMinus" (input)="dt.filter($event.target.value, 'plusMinus', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="date" (input)="dt.filter($event.target.value, 'date', 'contains')">
                                    </th>  
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [pSelectableRow]="rowData" (dblclick)="onRowDblClick($event, rowData)">
                                    <td>{{rowData['supply']}}</td>
                                    <td>{{rowData['minus'] | date:'dd/MM/yyyy'}}</td>
                                    <td>{{rowData['demand'] | date:'dd/MM/yyyy'}}</td>
                                    <td>{{rowData['balance']}}</td>
                                    <td>{{rowData['plusMinus']}}</td>
                                    <td>{{rowData['date'] | date:'dd/MM/yyyy'}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <p-dialog header="Detalii" [(visible)]="displayDialog1" [responsive]="true" showEffect="fade" [modal]="true" *ngIf="item" [width]="700">

        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad ewoformcontent">

            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="item">
                <div class="ui-grid-row">
                    <form *ngIf="validationform" [formGroup]="validationform">

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="id" formControlName="id">
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <tabset #tabset>

                                    <!-- anual energy demand -->
                                    <tab heading="Necesar energetic anual">
                                        <div class="row">

                                            <div class="col-lg-6">

                                                <div class="form-group">
                                                    <label for="suckerCows500Kg">Vaci care alapteaza(500Kg)</label>
                                                    <input type="text" class="form-control" id="suckerCows500Kg" placeholder="Introdu numar" formControlName="suckerCows500Kg" [ngClass]="{'is-invalid': submitted && form.suckerCows500Kg.errors}">
                                                    <div *ngIf="submitted && form.suckerCows500Kg.errors" class="invalid-feedback">
                                                        <span *ngIf="form.suckerCows500Kg.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="InCalfHeifers450Kg">Juncane (450Kg)</label>
                                                    <input type="text" class="form-control" id="InCalfHeifers450Kg" placeholder="Introdu numar" formControlName="InCalfHeifers450Kg" [ngClass]="{'is-invalid': submitted && form.InCalfHeifers450Kg.errors}">
                                                    <div *ngIf="submitted && form.InCalfHeifers450Kg.errors" class="invalid-feedback">
                                                        <span *ngIf="form.InCalfHeifers450Kg.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="growingFinishingCattleYear1">Vițea pentru montă < 1 an</label>
                                                    <input type="text" class="form-control" id="growingFinishingCattleYear1" placeholder="Introdu numar" formControlName="growingFinishingCattleYear1" [ngClass]="{'is-invalid': submitted && form.growingFinishingCattleYear1.errors}">
                                                    <div *ngIf="submitted && form.growingFinishingCattleYear1.errors" class="invalid-feedback">
                                                        <span *ngIf="form.growingFinishingCattleYear1.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="growingFinishingCattleYear2">Vițea pentru montă < 2 ani</label>
                                                    <input type="text" class="form-control" id="growingFinishingCattleYear2" placeholder="Introdu numar" formControlName="growingFinishingCattleYear2" [ngClass]="{'is-invalid': submitted && form.growingFinishingCattleYear2.errors}">
                                                    <div *ngIf="submitted && form.growingFinishingCattleYear2.errors" class="invalid-feedback">
                                                        <span *ngIf="form.growingFinishingCattleYear2.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="totalEnergy1Y_ME">
                                            <div class="col-lg-12">

                                                <p><b>Necesar</b> total de energie pe 1 an: <b>{{totalEnergy1Y_ME}}</b></p>

                                            </div>
                                        </div>

                                    </tab>



                                    <tab heading="Necesar anual de energie livrata">
                                        <div class="row">
                                            <div class="col-lg-6">

                                                <div class="form-group">
                                                    <label for="grazingLaxControl">Fan, control moderat</label>
                                                    <input type="text" class="form-control" id="grazingLaxControl" placeholder="tone la Ha" formControlName="grazingLaxControl" [ngClass]="{'is-invalid': submitted && form.grazingLaxControl.errors}">
                                                    <div *ngIf="submitted && form.grazingLaxControl.errors" class="invalid-feedback">
                                                        <span *ngIf="form.grazingLaxControl.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="grazing">Fan, calitate inalta</label>
                                                    <input type="text" class="form-control" id="grazing" placeholder="tone la Ha" formControlName="grazing" [ngClass]="{'is-invalid': submitted && form.grazing.errors}">
                                                    <div *ngIf="submitted && form.fields.errors" class="invalid-feedback">
                                                        <span *ngIf="form.fields.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="roughGrazing">Fan, pasune salbatica(cal. inf.)</label>
                                                    <input type="text" class="form-control" id="roughGrazing" placeholder="tone la Ha" formControlName="roughGrazing" [ngClass]="{'is-invalid': submitted && form.roughGrazing.errors}">
                                                    <div *ngIf="submitted && form.roughGrazing.errors" class="invalid-feedback">
                                                        <span *ngIf="form.roughGrazing.errors.required">This value is required.</span>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="firstCutSilage">Fan, prima recolta</label>
                                                    <input type="text" class="form-control" id="firstCutSilage" placeholder="tone la Ha" formControlName="firstCutSilage" [ngClass]="{'is-invalid': submitted && form.firstCutSilage.errors}">
                                                    <div *ngIf="submitted && form.firstCutSilage.errors" class="invalid-feedback">
                                                        <span *ngIf="form.firstCutSilage.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="twoCutSilage">Fan, a doua recolta</label>
                                                    <input type="text" class="form-control" id="twoCutSilage" placeholder="tone la Ha" formControlName="twoCutSilage" [ngClass]="{'is-invalid': submitted && form.twoCutSilage.errors}">
                                                    <div *ngIf="submitted && form.twoCutSilage.errors" class="invalid-feedback">
                                                        <span *ngIf="form.twoCutSilage.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="wholecropSilage">Fan, calitate slaba</label>
                                                    <input type="text" class="form-control" id="wholecropSilage" placeholder="tone la Ha" formControlName="wholecropSilage" [ngClass]="{'is-invalid': submitted && form.wholecropSilage.errors}">
                                                    <div *ngIf="submitted && form.wholecropSilage.errors" class="invalid-feedback">
                                                        <span *ngIf="form.wholecropSilage.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="otherConservedSilage">Alt fel de furaje silozate</label>
                                                    <input type="text" class="form-control" id="otherConservedSilage" placeholder="tone la Ha" formControlName="otherConservedSilage" [ngClass]="{'is-invalid': submitted && form.otherConservedSilage.errors}">
                                                    <div *ngIf="submitted && form.otherConservedSilage.errors" class="invalid-feedback">
                                                        <span *ngIf="form.otherConservedSilage.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                        <div *ngIf="calculusGrazing" class="row mt-1"><div class="col-lg-8">
                                            <p><b>Calcul pasunat: </b>{{calculusGrazing}}</p>
                                        </div>
                                     </div>
                                     <div *ngIf="totalGrassAndForageEnergySupply" class="row mt-1"><div class="col-lg-8">
                                        <p><b>Energie furnizara pasunat si alimentarie siloz: </b>{{totalGrassAndForageEnergySupply}}</p>
                                    </div>
                                 </div>
                                    </tab>



                                    <tab heading="Furajare suplimentara">
                                        <div class="row">

                                            <div class="col-lg-6">

                                                <div class="form-group">
                                                    <label for="straw">Paie</label>
                                                    <input type="text" class="form-control" id="straw" placeholder="tone la Ha" formControlName="straw" [ngClass]="{'is-invalid': submitted && form.straw.errors}">
                                                    <div *ngIf="submitted && form.straw.errors" class="invalid-feedback">
                                                        <span *ngIf="form.straw.errors.required">This value is required.</span>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label for="rapeseedMeal">Seminte de rapita</label>
                                                    <input type="text" class="form-control" id="rapeseedMeal" placeholder="" formControlName="rapeseedMeal" [ngClass]="{'is-invalid': submitted && form.rapeseedMeal.errors}">
                                                    <div *ngIf="submitted && form.rapeseedMeal.errors" class="invalid-feedback">
                                                        <span *ngIf="form.rapeseedMeal.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-lg-6">

                                                <div class="form-group">
                                                    <label for="rapeseedMeal">Data</label>
                                                    <input type="text" class="form-control" id="rapeseedMeal" placeholder="" formControlName="rapeseedMeal" [ngClass]="{'is-invalid': submitted && form.rapeseedMeal.errors}">
                                                    <div *ngIf="submitted && form.rapeseedMeal.errors" class="invalid-feedback">
                                                        <span *ngIf="form.rapeseedMeal.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                        <div *ngIf="totalBoughtEnergySupply" class="row mt-1"><div class="col-lg-8">
                                            <p><b>Calcul pasunat: </b>{{totalBoughtEnergySupply}}</p>
                                        </div>
                                     </div>
                                     <div *ngIf="totalFarmEnergySupply" class="row mt-1"><div class="col-lg-8">
                                        <p><b>Energie furnizara pasunat si alimentarie siloz: </b>{{totalFarmEnergySupply}}</p>
                                    </div>
                                 </div>



                                 </div>

                                        </div>
                                    </tab>

                                </tabset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="btn-default" pButton icon="fa fa-close" (click)="displayDialog1 = false;" label="Renunta"></button>
                <button pButton class="btn-info ewobtnsave" icon="fa fa-check" (click)="onSubmit(validationform.value)" label="Salveaza"></button>
            </div>
        </footer>
    </p-dialog>