.ewoheader .btn {
    color: cornflowerblue;
}

.ewoheader .alert {
    padding: 5px;
    color: cornflowerblue !important;
}
.alert-info {
    background: rgba(189, 209, 236, 0.80);
    border-color: cornflowerblue;
    color: #305d8c;
}
.alert {
    margin-bottom: 20px;
    margin-top: 0;
    color: #675100;
    border-width: 0;
    border-left-width: 5px;
    padding: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.ewoheader .alert {
    /* padding: 5px;
    background: rgba(189, 209, 236, 0.80) !important; */
    margin-bottom: 0px;
    background: #d9dee4 !important;
    border: none;
    font-size: 17px;
}

.ewoformcontent {
    /*   designe2*/
    /*    margin-bottom: 20px;
        padding-top: 15px;
        background: #f9f9f9;
        -webkit-box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.26);
        -moz-box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.26);
        box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.26);*/

    padding-top: 10px;
    padding-bottom: 20px;
    /* padding-left: 15px;*/
    /* padding-right: 15px; */
    max-height: 500px;
    overflow-y: auto;
}

.ewoformcontent .alert {
    padding: 4px;
    font-size: 11px;
}

.page-title {
    margin: 10px 0px 15px;
}

.alert-info {
    border-color: #00acd6;
}
.alert {
    border-radius: 3px;
}
.alert {
    margin-bottom: 20px;
    margin-top: 0;
    color: #675100;
    border-width: 0;
    border-left-width: 5px;
    padding: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.alert-info {
    background: rgba(189, 209, 236, 0.80) !important;
    border-color: cornflowerblue !important;
    border-left: 5px solid !important;
    color: #305d8c !important;
}
.alert-info {
    background: rgba(189, 209, 236, 0.80);
    border-color: cornflowerblue;
}
.alert-info {
    background-color: #d6dde7;
    border-color: #9cb4c5;
    color: #346597;
}
.alert {
    padding: 15px;
    margin-bottom: 18px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.ewoheader {
    background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
    padding: 5px 0px;
}

.ewoheader .btn {
    color: cornflowerblue !important;
    margin-right: 3px;
    border-radius: 5px;

    font-size: 13px;
    background: cornflowerblue !important;
    color: white !important;
}

.ewoheaderfilter th{
    padding: 5px 10px !important;
}

.ewoheaderfilter input{
    width: 100%;
    height: 28px;
}

.ewobuttonop button {
    margin-right: 5px;
}
.btn-default {
    background-color: #f4f4f4 !important;
    color: #444 !important;
    border-color: #ddd !important;
}
.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}
.ewobuttonop button {
    margin-right: 5px !important;
}

.ewoformcontent .form-group input, .ewoformcontent .form-group select {
    font-size: 12px;
    border: 1px solid rgb(214, 214, 214);
    color: gray;
}

.eworow .form-group {
    margin-bottom: 10px;
}

.ui-dialog .ui-dialog-buttonpane {
    border-top: 1px solid lightgray;
    padding: 10px;
}
footer .ui-widget-content {
    margin-top: 15px;
}
footer .ui-widget-content {
    border: none;
}

footer button {
    float: right;
}


.ewoformcontent form {
    width: 100%;
}

.ewobtnsave {
    margin-right: 5px !important;
}

.table th, .table td {
    padding: .55rem !important;
}

.datatables thead tr th:before {
    top: 0px !important;
}
.datatables thead tr th:after {
    top: 10px !important;
}
.datatables thead tr th {
    cursor: pointer;
}
.ewoformcontent .form-group input:focus {
    border: 2px solid cornflowerblue;
    border-radius: 5px;
}

body .ui-table .ui-table-tbody > tr.ui-state-highlight {
    background: #62a2d4;
}
body .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
    background: #62a2d4;
}

.ewoformcontent .ui-table .ui-table-thead > tr > th {
    padding: .35em .5em
}
.ewoformcontent .ui-table .ui-table-tbody > tr > td {
    padding: .05em 1em
}

.tab-content {
    padding: 10px !important;
}

.tab-container>.tab-content {
    padding: 15px 0px !important;
}

.page-title-box {
    display: none;
}

.content .nav-tabs li a.active {
        border: none;
         border-top: 5px solid #e1e7f3 !important;
     }

.content .nav-tabs li a {
    padding: 6px 10px;
}

.content .nav-tabs li a:hover {
    border: none;
    padding: 6px 10px;
}

.tabclose {
    margin-left: 5px;
    color: lightcoral;
    font-size: 14px;
}

body .ui-table .ui-table-thead > tr > th {
    padding: 0.3em 0.857em;
    font-weight: 500;
    color: #6c757d;
    font-size: 14px;
    /* color: cornflowerblue; */
}

body .ui-table .ui-table-tbody > tr {
    color: #6c757d;
}
body .ui-table .ui-table-tbody > tr.ui-state-highlight {
    color: #ffffff !important;
}

body .ui-table .ui-table-tbody > tr > td {
    padding: 0.3em 0.857em;
    border: 1px solid #e4e4e4;
}


body .ui-treetable .ui-treetable-thead > tr > th {
    padding: 0.3em 0.857em;
    font-weight: 500;
    color: #6c757d;
}

body .ui-treetable .ui-treetable-tbody > tr {
    color: #6c757d;
}
body .ui-treetable .ui-treeable-tbody > tr.ui-state-highlight {
    color: #ffffff !important;
}

body .ui-treetable .ui-treetable-tbody > tr > td {
    padding: 0.3em 0.857em;
    border: 1px solid #e4e4e4;
}



body .ui-widget tr > td{
    font-size: 13px;
}

.ewoheaderfilter input {
    height: 23px;
    border-color: #e4e4e4 !important;
    font-size: 12px;
}

.ewoheaderfilter input:hover {
    border-color: cornflowerblue !important;
}

.pi.pi-fw.pi-chevron-right{
    background: cornflowerblue !important;
    color: white !important;
    border-radius: 50% !important;
    font-size: 12px;
    font-weight: bold;
    padding: 2px;
}

.pi.pi-fw.pi-chevron-down {
    background: #83b6ec !important;
    color: white !important;
    border-radius: 50% !important;
    font-size: 14px;
}

.ewoformcontent::-webkit-scrollbar {
    width: 7px;
    background-color: #e8e8e8;
}
.ewoformcontent::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: cornflowerblue; 
    /* inset 0 0 6px */
    background-color: #C1C1C1;
}

body .ui-dialog .ui-dialog-content {
    border: none;
    padding: 10px 50px;
}


body .ui-dialog .ui-dialog-title {
    color: cornflowerblue;
    font-size: 16px;
}

.form-group label {
    font-size: 13px;
    text-indent: 10px !important;
}

body .ui-dialog-content .btn {
    padding: 4px 9px;
    font-size: 13px;
}

.ewoformcontent .ui-table .ui-table-thead > tr > th {
    padding: 2px 0px;
    font-size: 13px;
    border-color: #e2e2e2;
    color: gray;
}

.labeladd {
    color: #5c8ee6;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
}
.labeladd i{
    font-size: 14px;
    margin-right: 5px;
}


body .ui-button.ui-state-default.ui-button-info, body .ui-buttonset.ui-button-info > .ui-button.ui-state-default {
    color: cornflowerblue;
    background-color: transparent;
    border: none;
}
body .ui-button.ui-state-default.ui-button-info:enabled:hover, body .ui-buttonset.ui-button-info > .ui-button.ui-state-default:enabled:hover {
    color: cornflowerblue;
    background-color: #e2e2e2;
}

body .ui-button.ui-state-default.ui-button-success, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default {
    background-color: transparent;
    border: none;
    color: green;
}
body .ui-button.ui-state-default.ui-button-success:enabled:hover, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default:enabled:hover {
    color: green;
    background-color: #e2e2e2;
}

body .ui-button.ui-state-default.ui-button-warning, body .ui-buttonset.ui-button-warning > .ui-button.ui-state-default {
    background-color: transparent;
    color: lightcoral;
    border: none;
}
body .ui-button.ui-state-default.ui-button-warning:enabled:hover, body .ui-buttonset.ui-button-warning > .ui-button.ui-state-default:enabled:hover {
    color: lightcoral;
    background-color: #e2e2e2;
}


body .ui-button.ui-state-default.ui-button-danger, body .ui-buttonset.ui-button-danger > .ui-button.ui-state-default {
    background-color: transparent;
    border: none;
    color: red;
}
body .ui-button.ui-state-default.ui-button-danger:enabled:hover, body .ui-buttonset.ui-button-danger > .ui-button.ui-state-default:enabled:hover {
    color: red;
    background-color: #e2e2e2;
}

body .ui-button.ui-button-icon-only .ui-button-text {
    padding: 3px;
}

.ui-fluid .ui-inputtext {
    height: 25px;
    border-color: #dedada;
}
.ui-fluid .ui-inputtext:hover {
    border-color: cornflowerblue !important;
}

body .ui-table .ui-table-thead > tr.ewoheaderfilter,
body .ui-table .ui-table-thead > tr.ewoheaderfilter > th {
    border: none;
}
body .ui-table .ui-sortable-column .ui-sortable-column-icon,
body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover .ui-sortable-column-icon {
    color: #c8c8c8;
}

body .ui-treetable .ui-sortable-column.ui-state-highlight {
    background: #62a2d4;
}
body .ui-treetable .ui-treetable-thead > tr.ewoheaderfilter,
body .ui-treetable .ui-treetable-thead > tr.ewoheaderfilter > th {
    border: none;
}
body .ui-treetable .ui-sortable-column .ui-sortable-column-icon,
body .ui-treetable .ui-sortable-column:not(.ui-state-highlight):hover .ui-sortable-column-icon {
    color: #c8c8c8;
}
body .ui-treetable .ui-treetable-tbody > tr.ui-state-highlight {
    background-color: #62a2d4;
}

.ewoformcontent .form-group input, .ewoformcontent .form-group select {
    height: 27px;
}

.ewoformcontent .tab-container {
    width: 100%;
}

body.authentication-bg-pattern {
    background: #bee2dc !important;
}

.farmauth {
    background-color: #2bbfa2 !important;
    border: none !important;
}

.farmauthtext, .farmauthtext b {
    color: #289e89 !important;
    font-size: 17px !important;
}

.left-side-menu-dark .navbar-custom {
    background-color: #3ab4bd !important;
}

.left-side-menu-dark .left-side-menu {
    background-color: #626263 !important;
} 

.left-side-menu-dark .left-side-menu #sidebar-menu > ul > li > a {
    color: #dee2e6 !important;
    font-size: 16px;
}

.left-side-menu-dark .left-side-menu #sidebar-menu > ul > li:hover > a, .left-side-menu-dark .left-side-menu #sidebar-menu > ul > li:active > a  {
    color: white !important;
}

.left-side-menu-dark .left-side-menu .nav-second-level li a, .left-side-menu-dark .left-side-menu .nav-thrid-level li a {
    color: #c8c8c8;
    font-size: 15px;
}