// .form-group label {
//     text-indent: 0 !important;
//     margin-bottom: 0.3 rem !important;
// }
.form-check-label {
    padding-left: 0;
    display: inline;
}
.btn btn-warning {
    margin-bottom: 5% !important;

}
#Textarea3 {
    width: 180% !important;
}

#validat_manager {
    margin-top: 3% !important;
}
#reportBtn {
    margin-left: 3% !important;
}