<div class="container-fluid">
    <app-page-title title="Bunuri" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div *ngIf="!list" id="loadingmodule" style="text-align: center;"><img src="../../../../assets/images/loading2.gif" style="width: 50px;"></div>

                    <div *ngIf="list" class="ContentSideSections ewogrid" style="padding:1px 10px;">
                        <div class="ui-widget-header ui-helper-clearfix ewoheader">
                            <actions (add)="add()" (edit)="edit()" (delete)="delete()" (export)="dt.exportCSV()"></actions>
                        </div>

                        <p-table #dt [value]="list" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedItems">

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th [pSortableColumn]="'category'">Categorie
                                        <p-sortIcon [field]="'category'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'object'">Obiect
                                        <p-sortIcon [field]="'object'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'qty'">Cantitate
                                        <p-sortIcon [field]="'qty'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'grossVal'">Valoare bruta
                                        <p-sortIcon [field]="'grossVal'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'netPrice'">Valoarea neta fara reducere
                                        <p-sortIcon [field]="'netPrice'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'totalNetVal'">Valoare neta totala
                                        <p-sortIcon [field]="'totalNetVal'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'unitPrice'">Pret per unitate
                                        <p-sortIcon [field]="'unitPrice'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'currency'">Valuta
                                        <p-sortIcon [field]="'currency'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                </tr>
                                <tr class="ewoheaderfilter">
                                    <th>
                                        <input pInputText type="category" (input)="dt.filter($event.target.value, 'category', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="object" (input)="dt.filter($event.target.value, 'object', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="qty" (input)="dt.filter($event.target.value, 'qty', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="grossVal" (input)="dt.filter($event.target.value, 'grossVal', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="netPrice" (input)="dt.filter($event.target.value, 'netPrice', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="totalNetVal" (input)="dt.filter($event.target.value, 'totalNetVal', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="unitPrice" (input)="dt.filter($event.target.value, 'unitPrice', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="currency" (input)="dt.filter($event.target.value, 'currency', 'contains')">
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [pSelectableRow]="rowData" (dblclick)="onRowDblClick($event, rowData)">
                                    <td>{{rowData['category']}}</td>
                                    <td>{{rowData['object']}}</td>
                                    <td>{{rowData['qty']}}</td>
                                    <td>{{rowData['grossVal']}}</td>
                                    <td>{{rowData['netPrice']}}</td>
                                    <td>{{rowData['totalNetVal']}}</td>
                                    <td>{{rowData['unitPrice']}}</td>
                                    <td>{{rowData['currency']}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <p-dialog header="Detalii" [(visible)]="displayDialog1" [responsive]="true" showEffect="fade" [modal]="true" *ngIf="item" [width]="500">

        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad ewoformcontent">

            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="item">
                <div class="ui-grid-row">
                    <form *ngIf="validationform" [formGroup]="validationform">

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="id" formControlName="id">
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <tabset #tabset>
                                    <tab heading="T1">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="category">Categorie</label>
                                                    <select class="form-control" name="category" id="category" formControlName="category" [ngClass]="{'is-invalid': submitted && form.category.errors}">
                                                    <option value="">alege categoria</option>
                                                    <option *ngFor="let category of Category" [ngValue]="category">{{category}}</option>
                                                </select>
                                                    <div *ngIf="submitted && form.category.errors" class="invalid-feedback">
                                                        <span *ngIf="form.category.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="object">Obiect</label>
                                                    <select class="form-control" name="object" id="object" formControlName="object" [ngClass]="{'is-invalid': submitted && form.object.errors}">
                                                    <option value="">alege obiectul</option>
                                                    <option *ngFor="let object of Object" [ngValue]="object">{{object}}</option>
                                                </select>
                                                    <div *ngIf="submitted && form.object.errors" class="invalid-feedback">
                                                        <span *ngIf="form.object.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group pt-3">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="capitExpence" [checked]="capitExpenceBool()" (change)="capitExpence($event)">
                                                        <label class="form-check-label" for="capitExpence">Cheltuieli cu capitalul</label>
                                                    </div>
                                                </div>


                                                <div id="deprecationPeriod" class="form-group pt-2">
                                                    <label for="deprecationPeriod">Perioada de amortizare</label>
                                                    <input type="text" class="form-control" id="deprecationPeriod" placeholder="" formControlName="deprecationPeriod" [ngClass]="{'is-invalid': submitted && form.deprecationPeriod.errors}">
                                                    <div *ngIf="submitted && form.deprecationPeriod.errors" class="invalid-feedback">
                                                        <span *ngIf="form.deprecationPeriod.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </tab>
                                    <tab heading="T2">
                                        <div class="row">
                                            <div class="col-lg-6">

                                                <div class="form-group">
                                                    <label for="qty">Cantitate</label>
                                                    <input type="text" class="form-control" id="qty" placeholder="" formControlName="qty" [ngClass]="{'is-invalid': submitted && form.qty.errors}">
                                                    <div *ngIf="submitted && form.qty.errors" class="invalid-feedback">
                                                        <span *ngIf="form.qty.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="stocking">Stocare</label>
                                                    <select class="form-control" name="stocking" id="stocking" formControlName="stocking" [ngClass]="{'is-invalid': submitted && form.stocking.errors}">
                                                        <option value="">alege tip</option>
                                                        <option *ngFor="let stocking of Stocking" [ngValue]="stocking">{{stocking}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && form.stocking.errors" class="invalid-feedback">
                                                        <span *ngIf="form.stocking.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-log-6">
                                                <div class="form-group">
                                                    <label for="qty2">Tip</label>
                                                    <select class="form-control" name="qty2" id="qty2" formControlName="object" [ngClass]="{'is-invalid': submitted && form.object.errors}">
                                                            <option value="">alege tip</option>
                                                            <option *ngFor="let qty2 of Qty2" [ngValue]="qty2">{{qty2}}</option>
                                                        </select>
                                                    <div *ngIf="submitted && form.qty2.errors" class="invalid-feedback">
                                                        <span *ngIf="form.qty2.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>


                                    <tab heading="T3">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="grossVal">Valoarea bruta</label>
                                                    <input type="text" class="form-control" id="grossVal" placeholder="" formControlName="grossVal" [ngClass]="{'is-invalid': submitted && form.grossVal.errors}">
                                                    <div *ngIf="submitted && form.grossVal.errors" class="invalid-feedback">
                                                        <span *ngIf="form.grossVal.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="discount">Reducere %</label>
                                                    <input type="text" class="form-control" id="discount" placeholder="" formControlName="discount" [ngClass]="{'is-invalid': submitted && form.discount.errors}">
                                                    <div *ngIf="submitted && form.discount.errors" class="invalid-feedback">
                                                        <span *ngIf="form.discount.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="currency">Reducere RON</label>
                                                    <input type="text" class="form-control" id="currency" placeholder="" formControlName="currency" [ngClass]="{'is-invalid': submitted && form.currency.errors}">
                                                    <div *ngIf="submitted && form.currency.errors" class="invalid-feedback">
                                                        <span *ngIf="form.currency.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="unitPrice">Peret pe unitate</label>
                                                    <input type="text" class="form-control" id="unitPrice" placeholder="" formControlName="unitPrice" [ngClass]="{'is-invalid': submitted && form.unitPrice.errors}">
                                                    <div *ngIf="submitted && form.unitPrice.errors" class="invalid-feedback">
                                                        <span *ngIf="form.unitPrice.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="netPrice">Suma neta fara reducere</label>
                                                    <input type="text" class="form-control" id="netPrice" placeholder="" formControlName="netPrice" [ngClass]="{'is-invalid': submitted && form.netPrice.errors}">
                                                    <div *ngIf="submitted && form.netPrice.errors" class="invalid-feedback">
                                                        <span *ngIf="form.netPrice.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="totalNetVal">Valoare neta totala</label>
                                                    <input type="text" class="form-control" id="totalNetVal" placeholder="" formControlName="totalNetVal" [ngClass]="{'is-invalid': submitted && form.totalNetVal.errors}">
                                                    <div *ngIf="submitted && form.totalNetVal.errors" class="invalid-feedback">
                                                        <span *ngIf="form.totalNetVal.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>


                                </tabset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="btn-default" pButton icon="fa fa-close" (click)="displayDialog1 = false;" label="Renunta"></button>
                <button pButton class="btn-info ewobtnsave" icon="fa fa-check" (click)="onSubmit(validationform.value)" label="Salveaza"></button>
            </div>
        </footer>
    </p-dialog>