<div class="container-fluid">
    <app-page-title title="Inventar" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div *ngIf="!list" id="loadingmodule" style="text-align: center;"><img src="../../../../assets/images/loading2.gif" style="width: 50px;"></div>

                    <div *ngIf="list" class="ContentSideSections ewogrid" style="padding:1px 10px;">
                        <div class="ui-widget-header ui-helper-clearfix ewoheader">
                            <actions (add)="add()" (edit)="edit()" (delete)="delete()" (export)="dt.exportCSV()"></actions>
                        </div>

                        <p-table #dt [value]="list" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedItems">

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th [pSortableColumn]="'date'">Data
                                        <p-sortIcon [field]="'date'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'warehouse'">Depozit
                                        <p-sortIcon [field]="'warehouse'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'category'">Categorie
                                        <p-sortIcon [field]="'category'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'object'">Obiect
                                        <p-sortIcon [field]="'object'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'variety'">Varietate
                                        <p-sortIcon [field]="'variety'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'qty'">Cantitate
                                        <p-sortIcon [field]="'qty'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'obs'">Descriere
                                        <p-sortIcon [field]="'obs'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                </tr>
                                <tr class="ewoheaderfilter">
                                    <th>
                                        <input pInputText type="date" (input)="dt.filter($event.target.value, 'date', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="warehouse" (input)="dt.filter($event.target.value, 'warehouse', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="category" (input)="dt.filter($event.target.value, 'category', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="object" (input)="dt.filter($event.target.value, 'object', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="variety" (input)="dt.filter($event.target.value, 'variety', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="qty" (input)="dt.filter($event.target.value, 'qty', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="obs" (input)="dt.filter($event.target.value, 'obs', 'contains')">
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [pSelectableRow]="rowData" (dblclick)="onRowDblClick($event, rowData)">
                                    <td>{{rowData['date'] | date:'dd/MM/yyyy'}}</td>
                                    <td>{{rowData['warehouse']}}</td>
                                    <td>{{rowData['category']}}</td>
                                    <td>{{rowData['object']}}</td>
                                    <td>{{rowData['variety']}}</td>
                                    <td>{{rowData['qty']}}</td>
                                    <td>{{rowData['obs']}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <p-dialog header="Inventar" [(visible)]="displayDialog1" [responsive]="true" showEffect="fade" [modal]="true" *ngIf="item" [width]="500">

        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad ewoformcontent">

            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="item">
                <div class="ui-grid-row">
                    <form *ngIf="validationform" [formGroup]="validationform">

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="id" formControlName="id">
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="date">Data</label>
                                            <input type="date" class="form-control" id="date" placeholder="" formControlName="date" [ngClass]="{'is-invalid': submitted && form.date.errors}">
                                            <div *ngIf="submitted && form.date.errors" class="invalid-feedback">
                                                <span *ngIf="form.date.errors.required">Camp obligatoriu</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="warehouse">Depozit</label>
                                            <input type="text" class="form-control" id="warehouse" placeholder="" formControlName="warehouse" [ngClass]="{'is-invalid': submitted && form.warehouse.errors}">
                                            <div *ngIf="submitted && form.warehouse.errors" class="invalid-feedback">
                                                <span *ngIf="form.warehouse.errors.required">Camp obligatoriu</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="category">Categorie</label>
                                            <select class="form-control" name="category" id="category" formControlName="category" [ngClass]="{'is-invalid': submitted && form.category.errors}">
                                                <option value="">alege categoria</option>
                                                <option *ngFor="let category of Category" [ngValue]="category">{{category}}</option>
                                            </select>
                                            <div *ngIf="submitted && form.category.errors" class="invalid-feedback">
                                                <span *ngIf="form.category.errors.required">Camp obligatoriu</span>
                                            </div>
                                        </div>


                                    </div>



                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            <label for="object">Obiect</label>
                                            <input type="text" class="form-control" id="object" placeholder="" formControlName="object" [ngClass]="{'is-invalid': submitted && form.object.errors}">
                                            <div *ngIf="submitted && form.object.errors" class="invalid-feedback">
                                                <span *ngIf="form.object.errors.required">Camp obligatoriu</span>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <label for="variety">Varietate</label>
                                            <select class="form-control" name="variety" id="variety" formControlName="variety" [ngClass]="{'is-invalid': submitted && form.variety.errors}">
                                                <option value="">alege varietatea</option>
                                                <option *ngFor="let variety of Variety" [ngValue]="variety">{{variety}}</option>
                                            </select>
                                            <div *ngIf="submitted && form.variety.errors" class="invalid-feedback">
                                                <span *ngIf="form.variety.errors.required">Camp obligatoriu</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="qty">Cantitate</label>
                                            <input type="text" class="form-control" id="qty" placeholder="" formControlName="qty" [ngClass]="{'is-invalid': submitted && form.qty.errors}">
                                            <div *ngIf="submitted && form.qty.errors" class="invalid-feedback">
                                                <span *ngIf="form.qty.errors.required">Camp obligatoriu</span>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="radio-group-vertical col-lg-12">
                                        <div class="form-group">
                                            <label for="obs">Descriere</label>
                                            <textarea type="textarea" class="form-control" id="obs" placeholder="" formControlName="obs" [ngClass]="{ 'is-invalid': submitted && form.obs.errors}" rows="5"></textarea>
                                            <div *ngIf="submitted && form.obs.errors" class="invalid-feedback">
                                                <span *ngIf="form.obs.errors.required">Camp obligatoriu</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="btn-default" pButton icon="fa fa-close" (click)="displayDialog1 = false;" label="Renunta"></button>
                <button pButton class="btn-info ewobtnsave" icon="fa fa-check" (click)="onSubmit(validationform.value)" label="Salveaza"></button>
            </div>
        </footer>
    </p-dialog>