<div class="container-fluid">
    <app-page-title title="Inregistrare" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <!-- <apx-chart #chart [series]="simplePieChart.series" [chart]="simplePieChart.chart" [labels]="simplePieChart.labels" [dataLabels]="simplePieChart.dataLabels" [legend]="simplePieChart.legend" [colors]="simplePieChart.colors" [responsive]="simplePieChart.responsive">
            </apx-chart> -->
            <!-- <apx-chart [series]="series" [chart]="simplePieChart.chart" [title]="title"></apx-chart>  calcAge('ll/zz/2020') -->
            <!-- <button (click)="calcAge('01/05/2020')">Calculeaza varsta(temporar)</button> -->
            
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div *ngIf="!list" id="loadingmodule" style="text-align: center;"><img src="../../../../assets/images/loading2.gif" style="width: 50px;"></div>

                    <div *ngIf="list" class="ContentSideSections ewogrid" style="padding:1px 10px;">
                        <div class="ui-widget-header ui-helper-clearfix ewoheader">
                            <actions (add)="add()" (edit)="edit()" (delete)="delete()" (export)="dt.exportCSV()"></actions>
                        </div>
                       
                        <p-table #dt [value]="list" [paginator]="true" [rows]="7" selectionMode="single" [(selection)]="selectedItems">

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th [pSortableColumn]="'id'">ID
                                        <p-sortIcon [field]="'id'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'grpId'">Id grup
                                        <p-sortIcon [field]="'grpId'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'total'">Total
                                        <p-sortIcon [field]="'total'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'sex'">Sex
                                        <p-sortIcon [field]="'sex'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'species'">Specie
                                        <p-sortIcon [field]="'species'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'breed'">Rasa
                                        <p-sortIcon [field]="'breed'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'creationDate'">Data crearii
                                        <p-sortIcon [field]="'creationDate'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'age'">Varsta
                                        <p-sortIcon [field]="'age'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'gestating'">Gestatie?
                                        <p-sortIcon [field]="'gestating'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'meatOrMilk'">Lapte/Carne
                                        <p-sortIcon [field]="'meatOrMilk'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'exitDate'">Data iesire
                                        <p-sortIcon [field]="'exitDate'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                </tr>
                                <tr class="ewoheaderfilter">
                                    <th>
                                        <input pInputText type="id" (input)="dt.filter($event.target.value, 'id', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="grpId" (input)="dt.filter($event.target.value, 'grpId', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="total" (input)="dt.filter($event.target.value, 'total', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="sex" (input)="dt.filter($event.target.value, 'sex', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="species" (input)="dt.filter($event.target.value, 'species', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="breed" (input)="dt.filter($event.target.value, 'breed', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="creationDate" (input)="dt.filter($event.target.value, 'creationDate', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="age" (input)="dt.filter($event.target.value, 'age', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="gestating" (input)="dt.filter($event.target.value, 'gestating', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="meatOrMilk" (input)="dt.filter($event.target.value, 'meatOrMilk', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="exitDate" (input)="dt.filter($event.target.value, 'exitDate', 'contains')">
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">                                
                                <tr [pSelectableRow]="rowData" (dblclick)="onRowDblClick($event, rowData)">                                    
                                    <td style="font-size: xx-small;">{{rowData['id']}}</td> 
                                    <td>{{rowData['grpId']}}</td>
                                    <td>{{rowData['total']}}</td>
                                    <td>{{rowData['sex']}}</td>
                                    <td>{{rowData['species']}}</td>
                                    <td>{{rowData['breed']}}</td>
                                    <td>{{rowData['creationDate'] | date:'dd/MM/yyyy'}}</td>
                                    <td>{{rowData['age'] | agePipe}}</td>
                                    <td>{{rowData['gestating'] | boolPipe}}</td>
                                    <td>{{rowData['meatOrMilk']}}</td>
                                    <td>{{rowData['exitDate'] | date:'dd/MM/yyyy'}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <p-dialog header="Generare Id-uri in Grup" [(visible)]="displayDialog1" [responsive]="true" showEffect="fade" [modal]="true" *ngIf="item" [width]="800" >

        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad ewoformcontent">

            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="item">
                <div class="ui-grid-row">
                    <form  *ngIf="validationform" [formGroup]="validationform">

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="id" formControlName="id">
                        </div>
                        <div class="row">
                            <div class="col-lg-12">

                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="form-group">
                                                    <label for="creationDate">Data crearii</label>
                                                    <input required type="date" class="form-control" id="creationDate" placeholder="" formControlName="creationDate" [ngClass]="{'is-invalid': submitted && form.creationDate.errors}">
                                                    <div *ngIf="submitted && form.creationDate.errors" class="invalid-feedback">
                                                        <span *ngIf="form.creationDate.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label for="total">Numar Id-uri</label>
                                                    <input required type="number" class="form-control" 
                                                    maxlength="7"id="total" placeholder=""  formControlName="total" [ngClass]="{'is-invalid': submitted && form.total.errors}">
                                                    <div *ngIf="submitted && form.total.errors" class="invalid-feedback">
                                                        <span *ngIf="form.total.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="sex">Sex</label>
                                                    <select required class="form-control" name="sex" id="sex" formControlName="sex" [ngClass]="{'is-invalid': submitted && form.sex.errors}">
                                                        <option value="">alege sexul</option>
                                                        <option *ngFor="let sex of Sex" [ngValue]="sex">{{sex}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && form.sex.errors" class="invalid-feedback">
                                                        <span *ngIf="form.sex.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="col-lg-6">


                                                <div class="form-group">
                                                    <label for="species">Specia</label>
                                                    <select required class="form-control" (change)="onSelect()" name="species" id="species" formControlName="species" [ngClass]="{'is-invalid': submitted && form.species.errors}">
                                                        <option value="">alege specia</option>
                                                        <option *ngFor="let species of Species" [ngValue]="species">{{species}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && form.species.errors" class="invalid-feedback">
                                                        <span *ngIf="form.species.errors.required">This value is required.</span>
                                                    </div>
                                                </div>



                                            </div>


                                            <div class="col-lg-6">

                                                <div class="form-group">
                                                    <label for="breed">Rasa</label>
                                                    <select required class="form-control" name="breed" id="breed" formControlName="breed" [ngClass]="{'is-invalid': submitted && form.breed.errors}">
                                                        <option value="">alege rasa de {{selectedName}}</option>
                                                        <option *ngFor="let breed of Breed" [ngValue]="breed">{{breed}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && form.breed.errors" class="invalid-feedback">
                                                        <span *ngIf="form.breed.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div *ngIf="displayDialog2" class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="dateOfBirth">Data nasterii</label>
                                                    <input  type="date" class="form-control" id="dateOfBirth" placeholder="" formControlName="dateOfBirth" [ngClass]="{'is-invalid': submitted && form.dateOfBirth.errors}">
                                                    <div *ngIf="submitted && form.dateOfBirth.errors" class="invalid-feedback">
                                                        <span *ngIf="form.dateOfBirth.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            
                                            
                                                <div class="form-group">
                                                    <label for="meatOrMilk">Lapte / Carne</label>
                                                    <select  class="form-control" name="meatOrMilk" id="meatOrMilk" formControlName="meatOrMilk" [ngClass]="{'is-invalid': submitted && form.meatOrMilk.errors}">
                                                        <option value="">alege felul</option>
                                                        <option *ngFor="let meatOrMilk of meatOrMilk" [ngValue]="meatOrMilk">{{meatOrMilk}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && form.meatOrMilk.errors" class="invalid-feedback">
                                                        <span *ngIf="form.meatOrMilk.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="parentMId">Parinte M</label>
                                                    <input  type="text" class="form-control" id="parentMId" placeholder="" formControlName="parentMId" [ngClass]="{'is-invalid': submitted && form.parentMId.errors}">
                                                    <div *ngIf="submitted && form.parentMId.errors" class="invalid-feedback">
                                                        <span *ngIf="form.parentMId.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <div class="form-check" id="checkbox">
                                                            <input class="form-check-input" type="checkbox" id="gestating" [checked]="gestating()" (change)="handleGestating($event)">
                                                            <label class="form-check-label" for="gestating">Gestanta</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="weight">Greutate</label>
                                                    <input  type="number" class="form-control" id="weight" placeholder="" formControlName="weight" [ngClass]="{'is-invalid': submitted && form.weight.errors}">
                                                    <div *ngIf="submitted && form.weight.errors" class="invalid-feedback">
                                                        <span *ngIf="form.weight.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="parentFId">Parinte F</label>
                                                    <input  type="text" class="form-control" id="parentFId" placeholder="" formControlName="parentFId" [ngClass]="{'is-invalid': submitted && form.parentFId.errors}">
                                                    <div *ngIf="submitted && form.parentFId.errors" class="invalid-feedback">
                                                        <span *ngIf="form.parentFId.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="exitDate">Data iesire</label>
                                                    <input  type="date" class="form-control" id="exitDate" placeholder="" formControlName="exitDate" [ngClass]="{'is-invalid': submitted && form.exitDate.errors}">
                                                    <div *ngIf="submitted && form.exitDate.errors" class="invalid-feedback">
                                                        <span *ngIf="form.exitDate.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>


                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">                
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6"></div>
                        <div class="col-lg-6"><p *ngIf="regGrpId">{{generatedGroup}}</p> {{regGrpId}}</div>
                    </div>                    
                </div>

                
            </div>
            <br><br>


            
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="btn-default" pButton icon="fa fa-close" (click)="displayDialog1 = false;" label="Renunta"></button>
                <button pButton class="btn-info ewobtnsave" (click)="createPseudoItem(validationform.value)" icon="fa fa-check" [disabled]="!validationform.valid" label="Genereaza Grup Id"></button>
            </div>
        </footer>
    </p-dialog>
    <p-dialog header="Adaugare Detalii Animale" [(visible)]="displayDialog2" [responsive]="true" showEffect="fade" [modal]="true" *ngIf="item" [width]="800">

        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad ewoformcontent">

            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="item">
                <div class="ui-grid-row">
                    <form  *ngIf="validationform" [formGroup]="validationform">

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="id" formControlName="id">
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                               
                                        <!-- <div *ngIf="displayDialog1" class="row">
                                            <div class="col-lg-5">
                                                <div class="form-group">
                                                    <label for="creationDate">Data crearii</label>
                                                    <input required type="date" class="form-control" id="creationDate" placeholder="" formControlName="creationDate" [ngClass]="{'is-invalid': submitted && form.creationDate.errors}">
                                                    <div *ngIf="submitted && form.creationDate.errors" class="invalid-feedback">
                                                        <span *ngIf="form.creationDate.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label for="total">Numar Id-uri</label>
                                                    <input required type="text" class="form-control" 
                                                    maxlength="7"id="total" placeholder=""  formControlName="total" [ngClass]="{'is-invalid': submitted && form.total.errors}">
                                                    <div *ngIf="submitted && form.total.errors" class="invalid-feedback">
                                                        <span *ngIf="form.total.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="sex">Sex</label>
                                                    <select required class="form-control" name="sex" id="sex" formControlName="sex" [ngClass]="{'is-invalid': submitted && form.sex.errors}">
                                                        <option value="">alege sexul</option>
                                                        <option *ngFor="let sex of Sex" [ngValue]="sex">{{sex}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && form.sex.errors" class="invalid-feedback">
                                                        <span *ngIf="form.sex.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="col-lg-6">


                                                <div class="form-group">
                                                    <label for="species">Specia</label>
                                                    <select required class="form-control" (change)="onSelect()" name="species" id="species" formControlName="species" [ngClass]="{'is-invalid': submitted && form.species.errors}">
                                                        <option value="">alege specia</option>
                                                        <option *ngFor="let species of Species" [ngValue]="species">{{species}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && form.species.errors" class="invalid-feedback">
                                                        <span *ngIf="form.species.errors.required">This value is required.</span>
                                                    </div>
                                                </div>



                                            </div>


                                            <div class="col-lg-6">

                                                <div class="form-group">
                                                    <label for="breed">Rasa</label>
                                                    <select required class="form-control" name="breed" id="breed" formControlName="breed" [ngClass]="{'is-invalid': submitted && form.breed.errors}">
                                                        <option value="">alege rasa de {{selectedName}}</option>
                                                        <option *ngFor="let breed of Breed" [ngValue]="breed">{{breed}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && form.breed.errors" class="invalid-feedback">
                                                        <span *ngIf="form.breed.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                               
                                        <div *ngIf="displayDialog2" class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="dateOfBirth">Data nasterii</label>
                                                    <input  type="date" class="form-control" id="dateOfBirth" placeholder="" formControlName="dateOfBirth" [ngClass]="{'is-invalid': submitted && form.dateOfBirth.errors}">
                                                    <div *ngIf="submitted && form.dateOfBirth.errors" class="invalid-feedback">
                                                        <span *ngIf="form.dateOfBirth.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            
                                            
                                                <div class="form-group">
                                                    <label for="meatOrMilk">Lapte / Carne</label>
                                                    <select  class="form-control" name="meatOrMilk" id="meatOrMilk" formControlName="meatOrMilk" [ngClass]="{'is-invalid': submitted && form.meatOrMilk.errors}">
                                                        <option value="">alege felul</option>
                                                        <option *ngFor="let meatOrMilk of MeatOrMilk" [ngValue]="meatOrMilk">{{meatOrMilk}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && form.meatOrMilk.errors" class="invalid-feedback">
                                                        <span *ngIf="form.meatOrMilk.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="exitDate">Data iesire</label>
                                                    <input  type="date" class="form-control" id="exitDate" placeholder="" formControlName="exitDate" [ngClass]="{'is-invalid': submitted && form.exitDate.errors}">
                                                    <div *ngIf="submitted && form.exitDate.errors" class="invalid-feedback">
                                                        <span *ngIf="form.exitDate.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-6">


                                                <div class="form-group">
                                                    <label for="weight">Greutate</label>
                                                    <input  type="number" class="form-control" id="weight" placeholder="Kg" formControlName="weight" [ngClass]="{'is-invalid': submitted && form.weight.errors}">
                                                    <div *ngIf="submitted && form.weight.errors" class="invalid-feedback">
                                                        <span *ngIf="form.weight.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="parentFId">Parinte F</label>
                                                    <input  type="text" class="form-control" id="parentFId" placeholder="ID" formControlName="parentFId" [ngClass]="{'is-invalid': submitted && form.parentFId.errors}">
                                                    <div *ngIf="submitted && form.parentFId.errors" class="invalid-feedback">
                                                        <span *ngIf="form.parentFId.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="parentMId">Parinte M</label>
                                                    <input  type="text" class="form-control" id="parentMId" placeholder="ID" formControlName="parentMId" [ngClass]="{'is-invalid': submitted && form.parentMId.errors}">
                                                    <div *ngIf="submitted && form.parentMId.errors" class="invalid-feedback">
                                                        <span *ngIf="form.parentMId.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div id="gest" class="form-group">
                                                    <div class="form-check" id="checkbox">
                                                        <input class="form-check-input" type="checkbox" id="gestating" [checked]="gestating()" (change)="handlegestating($event)">
                                                        <label class="form-check-label" for="gestating">Gestanta</label>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                 

                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <br><br>

            
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="btn-default" pButton icon="fa fa-close" (click)="displayDialog2 = false;" label="Renunta"></button>
                <button pButton class="btn-info ewobtnsave" icon="fa fa-check" (click)="onSubmit(validationform.value)" label="Salveaza"></button>
            </div>
        </footer>
    </p-dialog>

    