<div class="container-fluid">
    <app-page-title title="Tratamente in Grup" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <!-- <apx-chart #chart [series]="simplePieChart.series" [chart]="simplePieChart.chart" [labels]="simplePieChart.labels" [dataLabels]="simplePieChart.dataLabels" [legend]="simplePieChart.legend" [colors]="simplePieChart.colors" [responsive]="simplePieChart.responsive">
            </apx-chart> -->
            <!-- <apx-chart [series]="series" [chart]="simplePieChart.chart" [title]="title"></apx-chart> -->
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                 
                    <div *ngIf="!list" id="loadingmodule" style="text-align: center;"><img src="../../../../assets/images/loading2.gif" style="width: 50px;"></div>

                    <div *ngIf="list" class="ContentSideSections ewogrid" style="padding:1px 10px;">
                        <div class="ui-widget-header ui-helper-clearfix ewoheader">
                            <actions (add)="add()" (edit)="edit()" (delete)="delete()" (export)="dt.exportCSV()"></actions>
                        </div>

                        <p-table #dt [value]="list" [paginator]="true" [rows]="7" selectionMode="single" [(selection)]="selectedItems">

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="font-size: small;"  [pSortableColumn]="'grpId'">Id grup
                                        <p-sortIcon [field]="'grpId'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th  [pSortableColumn]="'grpAdm'">Adm. in grup
                                        <p-sortIcon [field]="'grpAdm'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>

                                    <th  [pSortableColumn]="'animalId'">Id
                                        <p-sortIcon [field]="'animalId'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'vetName'">Vet
                                        <p-sortIcon [field]="'vetName'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th  [pSortableColumn]="'sex'">Sex
                                        <p-sortIcon [field]="'sex'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'treatmentApplied'">Tratament aplicat
                                        <p-sortIcon [field]="'treatmentApplied'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'qty'">Cantitate
                                        <p-sortIcon [field]="'qty'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'admType'">Tip adm.
                                        <p-sortIcon [field]="'admType'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'treatmentDate'">Data tratament
                                        <p-sortIcon [field]="'treatmentDate'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                </tr>
                                <tr class="ewoheaderfilter">
                                    <th >
                                        <input pInputText type="grpId" (input)="dt.filter($event.target.value, 'grpId', 'contains')">
                                    </th>
                                    <th >
                                        <input pInputText type="grpAdm" (input)="dt.filter($event.target.value, 'grpAdm', 'contains')">
                                    </th>
                                    <th >
                                        <input pInputText type="animalId" (input)="dt.filter($event.target.value, 'animalId', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="vetName" (input)="dt.filter($event.target.value, 'vetName', 'contains')">
                                    </th>
                                    <th >
                                        <input pInputText type="sex" (input)="dt.filter($event.target.value, 'sex', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="treatmentApplied" (input)="dt.filter($event.target.value, 'treatmentApplied', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="qty" (input)="dt.filter($event.target.value, 'qty', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="admType" (input)="dt.filter($event.target.value, 'admType', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="treatmentDate" (input)="dt.filter($event.target.value, 'treatmentDate', 'contains')">
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [pSelectableRow]="rowData" (dblclick)="onRowDblClick($event, rowData)">
                                    <td>{{rowData['grpId']}}</td>
                                    <td>{{rowData['grpAdm']  | boolPipe}}</td>
                                    <td  style="font-size: xx-small;">{{rowData['animalId']}}</td>
                                    <td>{{rowData['vetName']}}</td>
                                    <td>{{rowData['sex']}}</td>
                                    <td>{{rowData['treatmentApplied']}}</td>
                                    <td>{{rowData['qty']}}</td>
                                    <td>{{rowData['admType']}}</td>
                                    <td>{{rowData['treatmentDate'] | date:'dd/MM/yyyy'}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <p-dialog header="Detalii" [(visible)]="displayDialog1" [responsive]="true" showEffect="fade" [modal]="true" *ngIf="item" [width]="700">

        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad ewoformcontent">

            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="item">
                <div class="ui-grid-row">
                    <form *ngIf="validationform" [formGroup]="validationform">

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="id" formControlName="id">
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <tabset #tabset>
                                    <tab heading="Vaccinari">
                                        <div class="row">
                                      
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="grpId">Grup Id</label>
                                                    <select class="form-control" name="grpId" id="grpId" formControlName="grpId" (change)="filterIdsByGrps()" [ngClass]="{'is-invalid': submitted && form.grpId.errors}">
                                                        <option value="">alege Id-ul animalului</option>
                                                        <option *ngFor="let grpId of uniqueGrpIdsArr" [ngValue]="grpId">{{grpId}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && form.grpId.errors" class="invalid-feedback">
                                                        <span *ngIf="form.grpId.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="treatmentApplied">Tratament aplicat</label>
                                                    <input type="text" class="form-control" id="treatmentApplied" placeholder="" formControlName="treatmentApplied" [ngClass]="{'is-invalid': submitted && form.treatmentApplied.errors}">
                                                    <div *ngIf="submitted && form.treatmentApplied.errors" class="invalid-feedback">
                                                        <span *ngIf="form.treatmentApplied.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div  class="form-group">
                                                    <label for="measurementUnit">Unitati de masura</label>
                                                    <select class="form-control" name="measurementUnit" id="measurementUnit" formControlName="measurementUnit" [ngClass]="{'is-invalid': submitted && form.measurementUnit.errors}">
                                                        <option value="">alege unitatea de masura</option>
                                                        <option *ngFor="let measurementUnit of MeasurementUnit" [ngValue]="measurementUnit">{{measurementUnit}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && form.measurementUnit.errors" class="invalid-feedback">
                                                        <span *ngIf="form.measurementUnit.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="admType">Tip administrare</label>
                                                    <select class="form-control" name="admType" id="admType" formControlName="admType" [ngClass]="{'is-invalid': submitted && form.admType.errors}">
                                                        <option value="">alege modul de administrare</option>
                                                        <option *ngFor="let admType of AdmType" [ngValue]="admType">{{admType}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && form.admType.errors" class="invalid-feedback">
                                                        <span *ngIf="form.admType.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="qty">Cantitate</label>
                                                    <input type="text" class="form-control" id="qty" placeholder="" formControlName="qty" [ngClass]="{'is-invalid': submitted && form.qty.errors}">
                                                    <div *ngIf="submitted && form.qty.errors" class="invalid-feedback">
                                                        <span *ngIf="form.qty.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                             
                                            </div>


                                            <div class="col-lg-6">

                                                <div class="form-group">
                                                    <label for="vetName">Veterinar</label>
                                                    <input type="text" class="form-control" id="vetName" placeholder="" formControlName="vetName" [ngClass]="{'is-invalid': submitted && form.vetName.errors}">
                                                    <div *ngIf="submitted && form.vetName.errors" class="invalid-feedback">
                                                        <span *ngIf="form.vetName.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            
                                                <div *ngIf="toggleView" class="form-group">
                                                    <label for="measurementUnit2">Unitati de masura</label>
                                                    <select class="form-control" name="measurementUnit2" id="measurementUnit2" formControlName="measurementUnit2" [ngClass]="{'is-invalid': submitted && form.measurementUnit2.errors}">
                                                        <option value="">alege unitatea de masura</option>
                                                        <option *ngFor="let measurementUnit2 of MeasurementUnit2" [ngValue]="measurementUnit2">{{measurementUnit2}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && form.measurementUnit2.errors" class="invalid-feedback">
                                                        <span *ngIf="form.measurementUnit2.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div  class="form-group">
                                                    <label for="age">Varsta</label>
                                                    <select class="form-control" name="age" id="age" formControlName="age" [ngClass]="{'is-invalid': submitted && form.age.errors}">
                                                            <option value="">alege varsta</option>
                                                            <option *ngFor="let age of Age" [ngValue]="age">{{age}}</option>
                                                        </select>
                                                    <div *ngIf="submitted && form.age.errors" class="invalid-feedback">
                                                        <span *ngIf="form.age.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="treatmentDate">Data tratamentului</label>
                                                    <input type="date" class="form-control" id="treatmentDate" placeholder="" formControlName="treatmentDate" [ngClass]="{'is-invalid': submitted && form.treatmentDate.errors}">
                                                    <div *ngIf="submitted && form.treatmentDate.errors" class="invalid-feedback">
                                                        <span *ngIf="form.treatmentDate.errors.required">This value is required.</span>
                                                    </div>
                                                </div>






                                            </div>

                                        </div>
                                    </tab>
                                    <tab heading="Fisa observatii">
                                        <div class="form-group col-lg-12">
                                            <label for="obs">Fisa observatii</label>
                                            <textarea type="textarea" class="form-control" id="obs" placeholder="" formControlName="obs" [ngClass]="{ 'is-invalid': submitted && form.obs.errors}" rows="10"></textarea>
                                            <div *ngIf="submitted && form.obs.errors" class="invalid-feedback">
                                                <span *ngIf="form.obs.errors.required">This value is required.</span>
                                            </div>
                                        </div>
                                    </tab>
                                </tabset>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="btn-default" pButton icon="fa fa-close" (click)="displayDialog1 = false;" label="Renunta"></button>
                <button pButton class="btn-info ewobtnsave" icon="fa fa-check" (click)="onSubmit(validationform.value)" label="Salveaza"></button>
            </div>
        </footer>
    </p-dialog>