<div class="container-fluid">
    <app-page-title title="Activitate" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div *ngIf="!list" id="loadingmodule" style="text-align: center;"><img src="../../../../assets/images/loading2.gif" style="width: 50px;"></div>

                    <div *ngIf="list" class="ContentSideSections ewogrid" style="padding:1px 10px;">
                        <div class="ui-widget-header ui-helper-clearfix ewoheader">
                            <actions (add)="add()" (edit)="edit()" (delete)="delete()" (export)="dt.exportCSV()"></actions>
                        </div>

                        <p-table #dt [value]="list" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedItems">

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th [pSortableColumn]="'name'">Nume
                                        <p-sortIcon [field]="'name'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'startDate'">Data incepere
                                        <p-sortIcon [field]="'startDate'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'endDate'">Data incheierii
                                        <p-sortIcon [field]="'endDate'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'state'">Stare
                                        <p-sortIcon [field]="'state'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'responsiblePers'">Pers responsabila
                                        <p-sortIcon [field]="'responsiblePers'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'categories'">Categorii
                                        <p-sortIcon [field]="'categories'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <!-- <th [pSortableColumn]="'subCategories'">Sub categorii
                                        <p-sortIcon [field]="'subCategories'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th> -->
                                    <th [pSortableColumn]="'cultureProduction'">Productie
                                        <p-sortIcon [field]="'cultureProduction'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'season'">Sezon
                                        <p-sortIcon [field]="'season'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <!-- <th [pSortableColumn]="'seasonStartDate'">Data inceperii
                                        <p-sortIcon [field]="'seasonStartDate'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th>
                                    <th [pSortableColumn]="'seasonEndDate'">Data incheierii
                                        <p-sortIcon [field]="'seasonEndDate'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                    </th> -->
                                </tr>
                                <tr class="ewoheaderfilter">
                                    <th>
                                        <input pInputText type="name" (input)="dt.filter($event.target.value, 'name', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="startDate" (input)="dt.filter($event.target.value, 'startDate', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="endDate" (input)="dt.filter($event.target.value, 'endDate', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="state" (input)="dt.filter($event.target.value, 'state', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="responsiblePers" (input)="dt.filter($event.target.value, 'responsiblePers', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="categories" (input)="dt.filter($event.target.value, 'categories', 'contains')">
                                    </th>
                                    <!-- <th>
                                        <input pInputText type="subCategories" (input)="dt.filter($event.target.value, 'subCategories', 'contains')">
                                    </th> -->
                                    <th>
                                        <input pInputText type="cultureProduction" (input)="dt.filter($event.target.value, 'cultureProduction', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="season" (input)="dt.filter($event.target.value, 'season', 'contains')">
                                    </th>
                                    <!-- <th>
                                        <input pInputText type="seasonStartDate" (input)="dt.filter($event.target.value, 'seasonStartDate', 'contains')">
                                    </th>
                                    <th>
                                        <input pInputText type="seasonEndDate" (input)="dt.filter($event.target.value, 'seasonEndDate', 'contains')">
                                    </th> -->
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [pSelectableRow]="rowData" (dblclick)="onRowDblClick($event, rowData)">
                                    <td>{{rowData['name']}}</td>
                                    <td>{{rowData['startDate'] | date:'dd/MM/yyyy'}}</td>
                                    <td>{{rowData['endDate'] | date:'dd/MM/yyyy'}}</td>
                                    <td>{{rowData['state']}}</td>
                                    <td>{{rowData['responsiblePers']}}</td>
                                    <td>{{rowData['categories']}}</td>
                                    <!-- <td>{{rowData['subCategories']}}</td> -->
                                    <td>{{rowData['cultureProduction']}}</td>
                                    <td>{{rowData['season']}}</td>
                                    <!-- <td>{{rowData['seasonStartDate'] | date:'dd/MM/yyyy'}}</td>
                                    <td>{{rowData['seasonEndDate'] | date:'dd/MM/yyyy'}}</td> -->
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <p-dialog header="Activitate" [(visible)]="displayDialog1" [responsive]="true" showEffect="fade" [modal]="true" *ngIf="item" [width]="500">

        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad ewoformcontent">

            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="item">
                <div class="ui-grid-row">
                    <form *ngIf="validationform" [formGroup]="validationform">

                        <div class="form-group">
                            <input type="hidden" class="form-control" id="id" formControlName="id">
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <tabset #tabset>


                                    <tab heading="General">
                                        <div class="row">

                                            <div class="col-lg-12">

                                                <div class="form-group">
                                                    <label for="name">Nume</label>
                                                    <input type="text" class="form-control" id="name" placeholder="" formControlName="name" [ngClass]="{'is-invalid': submitted && form.name.errors}">
                                                    <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                                                        <span *ngIf="form.name.errors.required">This value is required.</span>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="startDate">Data inceperii</label>
                                                    <input type="date" class="form-control" id="startDate" placeholder="" formControlName="startDate" [ngClass]="{'is-invalid': submitted && form.startDate.errors}">
                                                    <div *ngIf="submitted && form.startDate.errors" class="invalid-feedback">
                                                        <span *ngIf="form.startDate.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="endDate">Data incheierii</label>
                                                    <input type="date" class="form-control" id="endDate" placeholder="" formControlName="endDate" [ngClass]="{'is-invalid': submitted && form.endDate.errors}">
                                                    <div *ngIf="submitted && form.endDate.errors" class="invalid-feedback">
                                                        <span *ngIf="form.endDate.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            </div>
                                          <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="responsiblePers">Persoana responsabila</label>
                                                <select class="form-control" name="responsiblePers" id="responsiblePers" formControlName="responsiblePers" [ngClass]="{'is-invalid': submitted && form.responsiblePers.errors}">
                                                <option value=""></option>
                                                <option *ngFor="let responsiblePers of ResponsiblePers" [ngValue]="responsiblePers">{{responsiblePers}}</option>
                                            </select>
                                                <div *ngIf="submitted && form.responsiblePers.errors" class="invalid-feedback">
                                                    <span *ngIf="form.responsiblePers.errors.required">This value is required.</span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="fields">Campuri</label>
                                                <select class="form-control" name="fields" id="fields" formControlName="fields" [ngClass]="{'is-invalid': submitted && form.fields.errors}">
                                              <option value=""></option>
                                              <option *ngFor="let fields of Fields" [ngValue]="fields">{{fields}}</option>
                                          </select>
                                                <div *ngIf="submitted && form.fields.errors" class="invalid-feedback">
                                                    <span *ngIf="form.fields.errors.required">This value is required.</span>
                                                </div>
                                            </div>
                                          </div>

                                          <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="categories">Categorii</label>
                                                <select class="form-control" (change)="onSelect()" name="categories" id="categories" formControlName="categories" [ngClass]="{'is-invalid': submitted && form.categories.errors}">
                                            <option value=""></option>
                                            <option *ngFor="let categories of Categories" [ngValue]="categories">{{categories}}</option>
                                        </select>
                                                <div *ngIf="submitted && form.categories.errors" class="invalid-feedback">
                                                    <span *ngIf="form.categories.errors.required">This value is required.</span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="subCategories">Subcategorii</label>
                                                <select class="form-control" name="subCategories" id="subCategories" formControlName="subCategories" [ngClass]="{'is-invalid': submitted && form.subCategories.errors}">
                                          <option value=""></option>
                                          <option *ngFor="let subCategories of SubCategories" [ngValue]="subCategories">{{subCategories}}</option>
                                      </select>
                                                <div *ngIf="submitted && form.subCategories.errors" class="invalid-feedback">
                                                    <span *ngIf="form.subCategories.errors.required">This value is required.</span>
                                                </div>
                                            </div>

                                        </div>

                                            <div class="col-lg-12">

                                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                    <label class="btn btn-success" [class.active]="toggle1" (click)="toggleBtn1()">
                                                <input type="radio" name="state" id="ended" formControlName="state" value="awaiting" (change)="select($event)" autocomplete="off" > In asteptare
                                              </label>
                                                    <label class="btn btn-success" [class.active]="toggle2" (click)="toggleBtn2()">
                                                <input type="radio" name="state" id="progress" formControlName="state" value="progress" (change)="select($event)" autocomplete="off"> In progres
                                              </label>

                                                    <label class="btn btn-success" [class.active]="toggle3" (click)="toggleBtn3()">
                                                <input type="radio" name="state" id="waiting" formControlName="state" value="ended" (change)="select($event)" autocomplete="off" > Incheiat
                                              </label>
                                                </div>

                                            </div>
                                        </div>

                                    </tab>


                                    <tab heading="Cultura">
                                        <div class="row">

                                            <div class="col-lg-6">



                                                <div class="form-group">
                                                    <label for="cultureProduction">Productie</label>
                                                    <select class="form-control" name="cultureProduction" id="cultureProduction" formControlName="cultureProduction" [ngClass]="{'is-invalid': submitted && form.cultureProduction.errors}">
                                            <option value=""></option>
                                            <option *ngFor="let cultureProduction of CultureProduction" [ngValue]="cultureProduction">{{cultureProduction}}</option>
                                        </select>
                                                    <div *ngIf="submitted && form.cultureProduction.errors" class="invalid-feedback">
                                                        <span *ngIf="form.cultureProduction.errors.required">This value is required.</span>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label for="seasonStartDate">Data inceperii</label>
                                                    <input type="date" class="form-control" id="seasonStartDate" placeholder="" formControlName="seasonStartDate" [ngClass]="{'is-invalid': submitted && form.seasonStartDate.errors}">
                                                    <div *ngIf="submitted && form.seasonStartDate.errors" class="invalid-feedback">
                                                        <span *ngIf="form.seasonStartDate.errors.required">This value is required.</span>
                                                    </div>
                                                </div>



                                            </div>

                                            <div class="col-lg-6">


                                                <div class="form-group">
                                                    <label for="season">Sezon</label>
                                                    <select class="form-control" aria-placeholder="anotimpuri" name="season" id="season" formControlName="season" [ngClass]="{'is-invalid': submitted && form.season.errors}">
                                      <option value=""></option>
                                      <option *ngFor="let season of Season" [ngValue]="season">{{season}}</option>
                                  </select>
                                                    <div *ngIf="submitted && form.season.errors" class="invalid-feedback">
                                                        <span *ngIf="form.season.errors.required">This value is required.</span>
                                                    </div>
                                                </div>



                                                <div class="form-group">
                                                    <label for="seasonEndDate">Data incheierii</label>
                                                    <input type="date" class="form-control" id="seasonEndDate" placeholder="" formControlName="seasonEndDate" [ngClass]="{'is-invalid': submitted && form.seasonEndDate.errors}">
                                                    <div *ngIf="submitted && form.seasonEndDate.errors" class="invalid-feedback">
                                                        <span *ngIf="form.seasonEndDate.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label for="obs">Descriere</label>
                                                    <textarea type="textarea" class="form-control" id="obs" placeholder="" formControlName="obs" [ngClass]="{ 'is-invalid': submitted && form.obs.errors}" rows="4"></textarea>
                                                    <div *ngIf="submitted && form.obs.errors" class="invalid-feedback">
                                                        <span *ngIf="form.obs.errors.required">This value is required.</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </tab>

                                </tabset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="btn-default" pButton icon="fa fa-close" (click)="displayDialog1 = false;" label="Renunta"></button>
                <button pButton class="btn-info ewobtnsave" icon="fa fa-check" (click)="onSubmit(validationform.value)" label="Salveaza"></button>
            </div>
        </footer>
    </p-dialog>