
<div class="col-xs-12 col-sm-7 col-md-7 col-lg-12" style="  padding-left: 0px; padding-right: 0px;">
    <div class="alert alert-info" style="margin-bottom: 0px;">
        Operatii &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-default btn-xs" icon="fa-plus" (click)="addclick()"><i
                class="fa-fw fa fa-plus-circle"></i>Adauga
        </button>
        <button type="button" class="btn btn-default btn-xs" icon="fa-plus" (click)="editclick()"><i
                class="fa-fw fa fa-edit"></i>Modifica
        </button>
        <button type="button" class="btn btn-default btn-xs" icon="fa-delete" (click)="deleteclick()"><i
                class="fa-fw fa fa-minus-circle"></i>Sterge
        </button>
        <button type="button" class="btn btn-default btn-xs" icon="fa-delete" (click)="exportclick()"><i
                class="fa-fw fa fa-file"></i>CSV
        </button>
        <button type="button" class="btn btn-default btn-xs" icon="fa-delete" (click)="edittablesclick()" *ngIf="admin"><i
                class="fa-fw fa fa-del"></i>Tables
        </button>
        <button type="button" class="btn btn-default btn-xs" icon="fa-delete" (click)="editfieldsclick('test1')" *ngIf="admin"><i
                class="fa-fw fa fa-del"></i>Fields
        </button>
        <button type="button" class="btn btn-default btn-xs" icon="fa-delete" (click)="editpropertiesclick('test1')" *ngIf="admin"><i
                class="fa-fw fa fa-del"></i>Properties
        </button>
    </div>
</div>